
.jumbotron{
	text-align: center;
}
table {

font-family: verdana;
font-size: 20px;
text-align: center;

}
h2{

text-align: center;
font-family: verdana;
font-size: 40px;
background-color: yellow;


}

footer{



	text-align: center;
	background-color: #5bc0de;
	padding: 20px;
}

th,td{


	text-align: center;
}

 


nav{
	border:1px solid green;
	background-color: greenyellow ;
	list-style-type: none;
	text-decoration: none;
}



.middle{
    margin-left: 40%;
    
    
    
}
h3{
    margin-left: 40%;
    
    
    
}
h4{
    text-align: center;
}

.mt{
    margin-top:2%;
    
    
}




